# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Tooling / IDE
.idea/
.vscode/
.DS_Store
*.egg-info/
/.coverage

# Local environment/config
.env
.env.*

# Logs / transient outputs
*.log
out/

# Cache directory
.cache/

# Out directory, actual script outputs
out/

# Config file, do not commit sensitive info
config.toml

# String input default file
strings.xml

# python-test-cache
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# Ruff cache
.ruff_cache/

# Mypy cache
.mypy_cache/
