repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff check
        entry: uv run ruff check .
        language: system
        pass_filenames: false
      - id: ty
        name: ty check
        entry: uv run ty check .
        language: system
        pass_filenames: false
      - id: pytest
        name: pytest
        entry: uv run pytest --cov=src
        language: system
        pass_filenames: false
