name: Lint

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: pip

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip==24.2
          python -m pip install ruff==0.8.3 mypy==1.13.0 types-requests==2.32.0.20241016 types-toml==0.10.8.20240310

      - name: Run ruff
        run: |
          ruff check .

      - name: Run mypy
        run: |
          mypy --config-file pyproject.toml src tests
